.Weather {
  border: 2px solid black;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb (135, 135, 135);
  padding: 16px;
  border-radius: 5px;
}

.Weather form {
  margin: 30px;
  padding: 20px auto;
}

button {
  margin-left: 15px;
  padding: 20px auto;
  font-size: 15px;
  font-weight: bolder;
  border-radius: 40px;
}

.Weather h1 {
  color: white;
  font-weight: 100;
  line-height: 20px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
  line-height: 19px;
  font-weight: 100;
  font-size: 18px;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  margin-left: 5px;
}

.Weather .description {
  text-transform: capitalize;
}

.Weather canvas {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  display: inline-block;
}

.Weather.unit {
  position: relative;
}
